<head>
<link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/pfmgfdlgomnbgkofeojodiodmgpgmkac">
</head>

<a href="https://chrome.google.com/webstore/detail/data-saver/pfmgfdlgomnbgkofeojodiodmgpgmkac">Chrome webstore page for this extension</a>

<button onclick="chrome.webstore.install()">Click me to install</button>
