<h1> Welcome to Meow's chrome store! </h1>
<h2> This website bypasses the annoying chrome extension restrictions added by many school districts </h2>
<p> Below you can find links to educational extensions and install them <p>
